@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    position: relative;
    /* color: #ffffff; */
}

/* body {
    background-color: white;
    color: black;
} */
  
.dark-mode {
    background-color: #0d0f13;
    color: white;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding-left: 50px;
}

nav ul li{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 89.5vh;
    width: 100%;
}

.webinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
}

.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
    width: 75%;
}

.guide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide button{
    width: max-content;
    padding: 0 8px 0 8px;
    margin-right: 5px;
}

.card-list{
    min-height: 50vh;
    display: grid;
    grid-template-rows: repeat(3,max-content);
    grid-template-columns: repeat(3,250px);
    gap: 5px;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    scale: 0.9;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.75);
    padding: 8px;
    border-radius: 15px;
    min-height: 250px;
    gap: 5px;
}

.cimg{
    min-height: 150px;
}

.ctitle{
    text-align: center;
    font-size: 1.1em;
}

.ccontent{
    font-size: 0.9em;
}

.cbottom{
    position: relative;
    left: 0px;
    font-size: 0.75em;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

footer{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 10px; */
    padding: 20px 0;
    color: white;
    background-color: black;
    font-size: 0.875rem;
}

footer ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding-left: 50px;
}

footer ul li{
    cursor: pointer;
}